@charset "utf-8";
@import url(./common.css);

/* HEADER 영역 시작 */
.header {
	position: absolute;
	inset: 0 0 auto 0;
	z-index: 1000;
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	align-items: center;
	height: 11.5rem;
	margin-inline: 4.6rem;

	.logo {

		>a {
			width: 13rem;
			display: block;
		}
	}

	.gnb {
		text-align: center;
		justify-content: center;

		>li {
			transition: all .3s ease-in-out;

			&:hover {
				transform: translateY(-0.3rem);
			}
		}
	}

	.utillity {
		display: flex;
		gap: 3.77rem;
		align-items: center;
	}

	@media (width < 1024px) {
		margin-inline: auto;
		max-width: 95%;

		.gnb {
			display: none;
		}
	}

	@media (width < 768px) {
		height: 8rem;

		.logo {

			>a {
				width: 10rem;
			}
		}

		.utillity {
			gap: 2rem;

			.btn-search {

				span {
					display: none;
				}
			}
		}
	}
}

/* HEADER 영역 끝 */


/* 사이드메뉴 영역 시작 */
.sideMenu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1001;
	width: 0;
	height: 100vh;
	background-color: var(--bgWhite);
	box-shadow: var(--boxShadow);
	padding: 0 4.5rem;
	display: none;

	&.--active {
		width: 45rem;
		display: grid;
		gap: 5rem;
		grid-template-rows: 11.5rem min-content min-content;
	}

	.btn-wrap {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.btn-menu {

			.btn-menu__line {

				&.__line2 {
					justify-content: center;
				}
			}
		}
	}

	.gnb {
		flex-direction: column;
		align-items: center;
		gap: 6rem;
		margin-bottom: 5rem;

		>li {

			&:hover {

				>a {
					color: var(--fontBlack);
				}
			}

			&.--active {

				>a {
					border-bottom: 0;
				}
			}

			>a {
				font-size: 3rem;
				font-weight: 800;
				color: var(--fontColor2);
				transition: all .3s ease-in-out;
			}
		}
	}

	.company__information {
		display: flex;
		flex-direction: column;
		gap: 5rem;

		.row__title {
			font-size: 2.3rem;
			line-height: 1.5;
			font-weight: 700;
			color: var(--fontBlack);
			margin-bottom: 1rem;
			display: block;
		}

		.linkBox__link {
			line-height: 1.5;
			font-weight: 400;

			:is(&:hover, &:hover > i) {
				color: var(--fontBlack);
			}
		}
	}

	@media (width < 768px) {
		padding: 0 2rem;

		&.--active {
			width: 100%;
			grid-template-rows: 8rem min-content min-content;
		}

		.gnb {
			gap: 3.5rem;

			>li {

				>a {
					font-size: 2.3rem;
				}
			}
		}

		.company__information {
			gap: 5rem;

			.row__title {
				font-size: 1.8rem;
			}
		}
	}
}

/* 사이드메뉴 영역 끝 */


/* 본문 영역 시작 */
.main {

	.section {
		width: 100%;
	}

	/* 팟캐스트페이지  */
	&.podcast--page {
		.section {

			&.section01 {
				padding: 14rem 0;

				.gird__list {
					/* 사용자 편의를 위해 card를 두개씩 배치 */
					grid-template-columns: repeat(2, 1fr);
					justify-content: center;
					align-items: center;

					.card__informationBox {
						display: flex;
						flex-direction: column;
						box-shadow: var(--boxShadow);
						border-radius: 1.5rem;
						overflow: hidden;
						/* card에 이미지 꽉 채워서 보여주기 위해 padding을 0으로 줌 */
						padding: 0;

						.card__content {
							display: flex;
							flex-direction: column;
							padding: 3rem 2.5rem;

							.informationBox__titleBox {

								.informationBox__title {
									font-size: 4rem;
								}
							}

							.content__episode {
								display: flex;
								flex-direction: column;
								gap: 2.5rem;
								/* 20241218 마진바텀 추가했습니다. */
								margin-bottom: 3rem;

								.content__info {
									display: flex;
									flex-direction: column;
									gap: 1.5rem;

									.content__num {
										color: var(--fontColor2);
										font-size: 1.5rem;
									}

									/* btn-play는 동일한 구조로 사용하는게 좋을 거 같아서 삭제 하였고 detail 클래스에 넓이값을 추가햇습니다. */
									.info__playnsubtitle {
										display: flex;
										align-items: center;
										gap: 2rem;

										.content__detail {
											width: calc(100% - 9rem);
											display: inline-block;
											text-decoration: none;
											color: var(--fontBlack);
											font-size: 2rem;
											font-weight: bold;
											overflow: hidden;
											display: -webkit-box;
											-webkit-line-clamp: 2;
											-webkit-box-orient: vertical;
											line-height: 1.5;
											position: relative;
										}
									}
								}
							}

							.card__footer {
								display: flex;
								justify-content: flex-end;
							}

						}



						&:hover .card__imgBox img {
							transform: scale(1.1);
							opacity: 0.7;
							transition: transform 0.7s, opacity 0.7s;
						}
					}
				}
			}
		}
	}

	/* 팟캐스트inner페이지 */
	&.podcast--inner {

		.section {
			padding: 7rem 0 0;

			&.section03 {
				height: 80rem;

				/* 가로 배치 */
				.podcast__about {
					display: flex;

					.podcast__information {
						width: 600rem;
						height: 50rem;
						margin-top: 20rem;
						margin-left: -17rem;

						.information__subject {
							font-size: 6rem;
							font-weight: bold;
							margin-bottom: 6rem;
						}

						.information__text {
							font-size: 2.4rem;
							font-weight: 300;
							margin-bottom: 5rem;
							line-height: 3rem;
						}
					}

					/* 버튼 박스 오른쪽에서 시작 */
					.about__btnBox {
						width: 200rem;
						align-items: flex-end;
						margin-top: 32rem;
						margin-right: -10rem;

						.textarea__listenOn {
							font-size: 2.5rem;
							margin-left: 10rem;
							margin-bottom: 3rem;
						}

						.btn-episode {
							margin-left: 10rem;
							font-size: 2rem;
							line-height: 4rem;
						}
					}
				}
			}

			&.section04 {
				.inner {
					.box__episodecontent {
						width: 100%;
						display: flex;
						flex-direction: row;
						/* gap: 25.5rem; */
						justify-content: space-between;
						align-items: center;

						.episodecontent__content {
							width: 50%;

							.section__title {
								margin-bottom: 2rem;
							}

							.content__information {
								flex: 0 0 40%;
								height: 30rem;
								overflow-y: scroll;
								padding: 0.5rem;
								background-color: var(--bg2);
								border-radius: 1rem;
								box-shadow: var(--boxShadow);

								.information__row {
									margin-bottom: 1.5rem;

									.row__name {
										font-size: 2.5rem;
										font-weight: bold;
									}

									.row__description {
										font-size: 1.7rem;
										line-height: 3rem;
									}

									&:last-child {
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}

			&.section05 {
				.informationBox__title {
					&::after {
						display: none;
					}
				}
			}

			&.section06 {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 50rem;
				background-color: var(--bg2);
				position: relative;


				.inner {
					display: flex;
					position: absolute;
					gap: 20rem;
					overflow: hidden;

					.inner__card {
						display: flex;
					}

					.card__imgBox {
						.essential__episodeList {
							display: flex;
							align-items: center;

							.list__card {
								position: relative;

								.btn-sound {
									position: absolute;
									top: 1rem;
									right: 1rem;
									z-index: 100;
								}
							}

							.card__info {
								display: flex;
								flex-direction: column;

								.info__title {
									color: var(--fontColor2);
									font-size: 2.5rem;
									font-weight: bold;
								}

								.info__content {
									color: var(--fontBlack);
									font-size: 2rem;
									font-weight: bold;
									display: inline-block;
									padding: 3rem 0;
								}

								.info__footer {
									color: var(--fontColor2);
									font-size: 1.5rem;
								}
							}
						}
					}

					.section__arrow {
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						top: 50%;
						right: 0.5rem;

						.arrow__prev {
							display: flex;
							flex-direction: row-reverse;
							justify-content: center;
							align-items: center;
							opacity: 0.5;
							transition: all 0.7s;

							.prev__title {
								text-decoration: none;
								display: inline-block;
								font-size: 1.7rem;
								font-weight: bold;
								padding: 0 1rem;
							}

							&:hover {
								opacity: 1;
								transform: skew(10deg);
							}
						}

						.arrow__divide {
							font-size: 2.5rem;
							font-weight: lighter;
						}

						.arrow__next {
							display: flex;
							justify-content: center;
							align-items: center;
							opacity: 0.5;
							transition: all 0.7s;


							.next__title {
								text-decoration: none;
								display: inline-block;
								font-size: 1.7rem;
								font-weight: bold;
								padding: 0 1rem;
							}

							&:hover {
								opacity: 1;
								transform: skew(10deg);
							}
						}
					}
				}
			}
		}
	}

	@media (width < 1024px) {

		/* 팟캐스트 페이지 */
		&.podcast--page {

			.section {

				&.section01 {

					.gird__list {

						.card__informationBox {

							.card__content {

								.informationBox__titleBox {

									.informationBox__title {
										font-size: 3rem;
									}
								}

								.content__episode {

									.content__info {

										.content__num {
											font-size: 1.3rem;
										}

										.info__playnsubtitle {
											.content__detail {
												width: calc(100% - 4.5rem);
												display: inline-block;
												font-size: 1.7rem;
												overflow: hidden;
												display: -webkit-box;
												-webkit-line-clamp: 1;
												-webkit-box-orient: vertical;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	@media (width < 768px) {

		/* 팟캐스트 페이지 */
		&.podcast--page {

			.section {

				&.section01 {
					padding: 7rem 0;

					.gird__list {
						width: 100%;
						grid-template-columns: repeat(1, 1fr);

						.card__informationBox {
							.card__imgBox {
								height: 30rem;
							}

							.card__content {
								padding: 2rem;

								.content__title {
									display: inline-block;
									font-size: 3.5rem;
								}

								.content__info {

									.content__num {
										font-size: 1.5rem;
									}

									.content__detail {
										display: inline-block;
										font-size: 1.7rem;
										overflow: hidden;
										display: -webkit-box;
										-webkit-line-clamp: 1;
										-webkit-box-orient: vertical;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* 본문 영역 끝 */


/* 푸터 영역 시작 */
.footer {
	width: 100%;
	background-color: var(--bgBlack);
	padding: 13.4rem 0 13rem;

	.footer__content {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 1rem 1.5rem;
	}

	.content__logo {
		width: 14.7rem;
		margin-right: 18.55rem;

		.logo__img {
			display: block;
			margin-bottom: 1.1rem;
		}

		.logo__text {
			color: var(--fontColor4);
			font-family: var(--subFont);
			font-size: 1.3rem;
			font-weight: 400;
			line-height: 2.067rem;
		}
	}

	.content__information {
		width: calc(100% - 33.25rem);

		.information__slogan {
			width: 60.2106rem;
			color: var(--fontWhite);
			font-size: 2.7rem;
			font-weight: 700;
			line-height: 3.402rem;
			margin-bottom: 11.33rem;
		}

		.information__list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			>li {
				height: 21.4703rem;
				display: grid;
				grid-template-rows: min-content 1fr min-content;
				;

				.list__title {
					color: var(--fontColor4);
					font-size: 1.8rem;
					font-weight: 700;
					line-height: 2.304rem;
					margin-bottom: 2.3rem;
					display: block;
				}

				.list__link__last {
					color: var(--fontColor4);
					font-family: var(--subFont);
					font-size: 1.3rem;
					font-weight: 400;
					line-height: 2.067rem;
					text-decoration: none;

					>a {
						color: #ccc;
						text-decoration: none;
					}
				}
			}
		}
	}

	@media (width < 1024px) {

		.footer__content {
			padding: 0;
			flex-direction: column;
		}

		.content__logo {
			margin-bottom: 3rem;
			margin-right: 0;
		}

		.content__information {
			width: 100%;

			.information__slogan {
				width: 100%;
				margin-bottom: 5rem;
			}

			.information__list {
				flex-direction: column;
				gap: 1.5rem;
			}
		}
	}

	@media (width < 768px) {
		padding: 6.5rem 0;

		.content__information {

			.information__slogan {
				font-size: 2rem;
				line-height: 2.8rem;
			}

			.information__list {

				>li {
					height: 15rem;

					.list__title {
						font-size: 1.5rem;
						line-height: 1.8rem;
						margin-bottom: 1.5rem;
					}

					.list__content {

						&.sns {

							.list__link {

								>i {
									font-size: 1.8rem;
									line-height: 1.8rem;
								}
							}
						}

						.list__link {
							font-size: 1.4rem;
							line-height: 2.4rem;
						}
					}
				}
			}
		}
	}
}

/* 푸터 영역 끝 */