@charset "utf-8";

html {scroll-behavior: smooth; font-size: 62.5%;}
body {font-size: 1rem; font-family: 'Noto Sans KR', sans-serif; background-color: #fff;}
* {color: #000; box-sizing: border-box;}

:root {
	--mainColor: #fff;
	--border: 1px solid #ededed;
}