@charset "utf-8";

:root {
	--mainColor: #fff;
	--subColor: #000;
	--border: #ededed;
	--borderBlack: #000;
	--fontBlack: #000;
	--bgBlack: #000;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-size: 1rem;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #fff;
}

/* 기본 옵션 */
* {
	color: #000;
	box-sizing: border-box;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;
}